@use "/projects/site/src/styles/variables";

.container {
  position: relative;
  height: variables.$toobar-standard-height-light;
  @media (prefers-color-scheme: dark) {
    height: variables.$toobar-standard-height-dark;
  }

  @media (max-width: 599px) {
    height: variables.$toobar-mobile-height-light;
    @media (prefers-color-scheme: dark) {
      height: variables.$toobar-mobile-height-dark;
    }
  }
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.logo {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
