<mat-grid-list [cols]="cols" rowHeight="2:1" [gutterSize]="gutterSize">
  <mat-grid-tile routerLink="/docs/component/hex-beat">
    <nuc-hex-beat></nuc-hex-beat>
    <mat-grid-tile-footer> hex-beat </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/particles">
    <nuc-particles></nuc-particles>
    <mat-grid-tile-footer> particles </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/forest">
    <nuc-forest></nuc-forest>
    <mat-grid-tile-footer> forest </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/lumiflex">
    <nuc-lumiflex></nuc-lumiflex>
    <mat-grid-tile-footer> lumiflex </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/zenitho">
    <nuc-zenitho></nuc-zenitho>
    <mat-grid-tile-footer> zenitho </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/novatrix">
    <nuc-novatrix></nuc-novatrix>
    <mat-grid-tile-footer> novatrix </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/velustro">
    <nuc-velustro></nuc-velustro>
    <mat-grid-tile-footer> velustro </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/tranquiluxe">
    <nuc-tranquiluxe></nuc-tranquiluxe>
    <mat-grid-tile-footer> tranquiluxe </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/docs/component/opulento">
    <nuc-opulento></nuc-opulento>
    <mat-grid-tile-footer> opulento </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
