@use "/projects/site/src/styles/variables";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.doc-nav {
  padding-top: variables.$toobar-standard-height-light;
}

.content {
  padding: 0 32px 32px;
  position: relative;
}

.menu-btn {
  position: fixed;
  bottom: 100%;
  right: 0;
  z-index: 3;
  top: variables.$toobar-standard-height-light;
  @media (prefers-color-scheme: dark) {
    top: variables.$toobar-standard-height-dark;
  }

  @media (max-width: 599px) {
    top: variables.$toobar-mobile-height-light;
    @media (prefers-color-scheme: dark) {
      top: variables.$toobar-mobile-height-dark;
    }
  }

  // background-color: #fff;
  // background-color: variables.$background-color-light;
  // @media (prefers-color-scheme: dark) {
  //   background-color: variables.$background-color-dark;
  // }
}

mat-sidenav-container {
  flex: 1 auto;
}
