<div class="footer">
  <div class="section">
    <a href="https://angular.io" target="_blank" rel="nofollow noopener">
      Angular
    </a>
    <mat-icon>favorite</mat-icon>
    <a
      href="https://material.angular.io"
      target="_blank"
      rel="nofollow noopener"
    >
      Material
    </a>
  </div>
  <div class="section">
    <span>This page was made with ❤️ using </span>
    <a href="https://pages.github.com/" target="_blank" rel="nofollow noopener">
      <b>Github</b>
    </a>
  </div>
  <div class="section">
    <img
      src="https://github.com/teddingdev/ngx-uvcanvas/actions/workflows/pages/pages-build-deployment/badge.svg?branch=github-pages"
      alt="badge"
    />
    <img
      src="https://github.com/teddingdev/ngx-uvcanvas/actions/workflows/github-pages.yaml/badge.svg"
      alt="badge"
    />
  </div>
  <div class="section">
    <img src="https://raw.githubusercontent.com/teddingdev/ngx-uvcanvas/github-pages/generated.svg" alt="badge" />
  </div>
</div>
