@use "/projects/site/src/styles/variables";

.section {
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 8px;
  color: #fff;
  & > a {
    color: #fff;
    cursor: pointer;
  }
  z-index: 9999;
}
