@use "/projects/site/src/styles/variables";

.footer {
  padding: 16px;
  text-align: center;
  background-color: variables.$primary-background-color-light;
  @media (prefers-color-scheme: dark) {
    background-color: variables.$primary-background-color-dark;
  }
  color: #fff;
  position: relative;
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background-image: url("../../../assets/svg/icon_angular_wht.svg");
    background-attachment: fixed;
    background-size: 65px;
    opacity: 0.1;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0;
  flex-wrap: 16px;
  gap: 8px;
  a {
    color: #fff;
    cursor: pointer;
  }
  z-index: 9999;
}
